# Visual Studio
.vs/
*.user
*.suo

# Build results
[Bb]in/
[Oo]bj/

# Test results
[Tt]est[Rr]esult*/
*.trx

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log

# ASP.NET Core
appsettings.Development.json

# OS
.DS_Store
Thumbs.db